<mat-card class="stycky">
  <mat-card-title style="margin-left: 2rem;">{{sentence_title}}</mat-card-title>
</mat-card>
<div id="form_container" style="overflow-y: scroll; height: 600px">
  <form [formGroup]="productForm" > 
    <div class="flex-container" *ngFor="let item of parseList" >
      <div class="text">{{item}}</div>
      <div class="form_content">
        <mat-form-field appearance="outline">
          <div>
            <input style="padding: 0 !important; width: 100%;" formControlName="{{item}}" matInput
              placeholder="lấy tự động từ khóa bên search">
          </div>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div style="width: 45%; margin: 0 auto">
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="actionSubmit()">{{actionBtn}}</button>
</div>